* {
  margin: 0;
  padding: 0;
}
body {
  background-color: teal;
}
h1 {
  text-align: center;
  color: aliceblue;
  font-family: "Russo One", sans-serif;
}
h2 {
  text-align: center;
  margin-top: 5px;
  color: aliceblue;
  font-family: "varela round";
}
h3 {
  text-align: center;
  color: aliceblue;
  font-family: "varela round";
}
h4 {
  text-align: center;
  color: aliceblue;
  font-family: "varela round";
}
P {
  text-align: center;
  margin-bottom: 5px;
  font-family: "varela round";
}
.container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  margin-top: 15px;
  width: auto;
  height: auto;
  text-align: center;
  justify-content: center;
}
.card {
  background-color: white;
  border-radius: 10px;
  justify-content: space-between;
  margin: 20px;
  width: 200px;
  height: 200px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.img-content {
  margin-top: 2px;
  width: 160px;
  height: 135px;
  border: 2px solid white;
  background-color: white;
  overflow: hidden;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.logo {
  width: 250px;
  margin-bottom: 40px;
  margin-top: 20px;
}
.foto {
  text-align: center;
}
.link1 {
  margin-top: 5px;
  color: red;
  font-family: "varela round";
}
.link2 {
  margin-top: 5px;
  color: blue;
  font-family: "varela round";
}
.link3 {
  margin-top: 5px;
  color: gold;
  font-family: "varela round";
}
#jam-text {
  padding-top: 10px;
  color: #0f172a;
}

.jam-digital {
  overflow: hidden;
  border-radius: 10px;
  width: 330px;
  height: 60px;
  margin: 20px auto;
  border: 5px solid #0f172a;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.kotak {
  float: left;
  width: 110px;
  height: 100px;
  background-color: #e5e5e5;
}
.jam-digital p {
  color: #0f172a;
  font-size: 20pxpx;
  text-align: center;
  margin-top: 20px;
}
.background-container-white {
  background-color: #e5e5e5;
  height: auto;
  padding-bottom: 20px;
}
#footer-text {
  color: #e5e5e5;
  padding: 1px;
}
#footer-text1 {
  color: white;
  padding-top: 20px;
}
.icon-web {
  margin: 5px;
  border: 1px solid white;
  width: 20px;
  padding: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#footer {
  background-color: #0f172a;
}
#pesan {
  background-color: #0f172a;
  padding-bottom: 20px;
  padding-top: 2px;
}
.pesan-text {
  margin-top: 15px;

  font-family: "Spectral", serif;
  font-size: 30px;
  color: #e5e5e5;
}
.p-text {
  color: #e5e5e5;
  padding: 1px;
}

.p-text1 {
  color: black;
  padding: 1px;
  font-family: "Roboto Slab", serif;
}

.btn-refresh{
  width: 130px;
  height: 35px;
  background-color: aliceblue;
  border: hidden;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
