* {
  margin: 0;
  padding: 0;
}
body {
  background-color: teal;
}
h1 {
  text-align: center;
  color: aliceblue;
  font-family: "dancing script";
}
h2 {
  text-align: center;
  margin-top: 5px;
  color: aliceblue;
  font-family: "varela round";
}
h3 {
  text-align: center;
  color: aliceblue;
  font-family: "varela round";
}
h4 {
  text-align: center;
  color: aliceblue;
  font-family: "varela round";
}
P {
  text-align: center;
  margin-bottom: 5px;
  font-family: "varela round";
}
.container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  margin-top: 15px;
  width: auto;
  height: auto;
  text-align: center;
  justify-content: center;
}
.card {
  border: 5px solid white;
  border-radius: 10px;
  justify-content: space-between;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: aqua;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.img-content {
  width: 130px;
  margin-top: 5px;
  height: 130px;
  border: 4px solid white;
  border-radius: 30px;
  background-color: cadetblue;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.logo {
  width: 250px;
}
.foto {
  text-align: center;
}
.link {
  margin-top: 5px;
  color: black;
  font-family: "varela round";
}
#jam-text {
  padding-top: 10px;
  color: black;
}

.jam-digital-malasngoding {
  overflow: hidden;
  border-radius: 15px;
  width: 330px;
  height: 60px;
  margin: 20px auto;
  border: 5px solid black;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.kotak {
  float: left;
  width: 110px;
  height: 100px;
  background-color: white;
}
.jam-digital-malasngoding p {
  color: black;
  font-size: 20pxpx;
  text-align: center;
  margin-top: 20px;
}
.background-container-white {
  background-color: #e5e5e5;
  height: auto;
  padding-bottom: 20px;
}
#footer-text {
  color: #e5e5e5;
  padding: 1px;
}
#footer-text1 {
  color: white;
  padding-top: 20px;
}
.icon-web {
  margin: 5px;
  border: 1px solid white;
  width: 20px;
  padding: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#footer {
  background-color: #0f172a;
}
